body{
    width: 100%;
    font-size: 16px;
    font-family: Proxima-Nova-Light;
    padding-top: 0px;
}

* {margin: 0;
padding: 0;
box-sizing: border-box !important;
outline: 0;
}

h1{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    color: white;
    font-family: Inter;
}

h2{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    color: white;
    font-family: Inter;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    opacity: 1;
}

#header {position: absolute;
height: 77.78px;
left: 0px;
right: 0px;
top: 0px;
}

.site-header{
    position: absolute;
    background-color: transparent;
    box-shadow: none;
    z-index: 200000;
    width: 100%;
    display: block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);


}

.div-column {
    width: 50%;
    float: left;
  }

.site-header_content {
    background-color: transparent;
    box-shadow: none;
    z-index: 200000;
    width: 100%;
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    position: relative;
}

.site-header_content_left{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

}

.menu-burger{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.menu-burger .c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    margin-right: 15px;
    padding: 0;
    width: 39px;
    height: 39px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid #7f8c8d;
    cursor: pointer;
    transition: background .3s;
}

.home-page .site-header:not(.fixed) .menu-burger .c-hamburger span {
    background-color: #fff;
}

.menu-burger .c-hamburger--htx span{
    transition: background 0s .3s;
}

.menu-burger .c-hamburger span {
    display: block;
    position: absolute;
    top: 18px;
    left: 10px;
    right: 10px;
    height: 2px;
    background: #1b1b1b;
}

.site-header_search-icon{
    margin-left: 40px;
}

.site-header_search-icon a {
    cursor: pointer;
}

.home-page .site-header:not(.fixed) .site-header__search-icon i{
    color: #fff;
    opacity: .5;
}

.site-header__search-icon i {
    color: #7f8c8d;
    font-size: 20px;
    display: -ms-flexbox;
    display: flex;
    transition: all .5s cubic-bezier(.68,-.55,.265,1.55);
}

.site-header_content_right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

}

.site-header_phone-numbers{
    display: block;
    align-items: center;
    position: relative;
    margin-right: 40px;
}

.site-header_phone-numbers_item {
    text-align: left;
    color: #fff;
    padding-right: 15px;
    display: block;
    position: relative;
}
.site-header_advert-btn{
    margin: 0 40px 0 20px;
}
.btn {
    display: inline-block;
    position: relative;
    text-align: center;
    font: 300 17px / 24px Proxima-Nova-Light;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background: 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.site-header_lang{
    position: relative;
}

.active-lang{
    color: #fff;
    font: 1.0625rem / 1.0625rem Proxima-Nova-Light;
    color: #1b1b1b;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.icon-26{
    font-family: comfort-icons !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/*.btn_flip-grey{

}*/

.social-media {box-sizing: border-box;

position: absolute;
width: 30px;
height: 30px;
left: 1860px;
top: 23.89px;

border: 1px solid #7F8C8D;
border-radius: 2px;
}

#bg-part {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -101;
    opacity: .3;
}
#demo-canvas{
    position: fixed;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 0;
    z-index: -101;
    background: #fff;
}

.img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.first-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto !important;
    height: auto !important;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.first-screen-content{
    top: calc(50% + 30px);
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text{
    text-align: center;
    font-family: Arial;
}